.heading{
text-align: center;
/* color: brown; */
font-style: oblique;
font-size: 60px;
font-weight: bold;
color: #834d0f ;
}
.landing{
width: 1260px;
height: 600px;
/* background-color: antiquewhite; */
/* float: left; */
background-size: cover;
background-image: url("image11.jpg")
}
/* .par1{
 margin: 20px 20px;
 padding-top: 80px;
 font-size: larger;
 font-weight: bold;
} */

 .secondpage{
   width: 1000px; 
   height: 600px;
   display: flex;
} 
/* .dress{
width: 0;
} */
.women{
 text-align: center;
 color: #834d0f;
 font-weight: bold;
 font-style: normal;
 font-size: 40px;
}
.nextpage{
padding: 40px;
margin: 20px;
border-radius: 20px;
color: #834d0f;
}
.dress{
    font-weight: bold;
    font-size: 30px;
    margin: 40px;
    color: #834d0f;
    /* width: 75px; */
}
.Image{
display: flex;
width: 20px;

}
img{
    width: 300px;
    height: 500px;
    padding: 20px;
    margin: 10px;
}
.Jeans{
text-align: center;
 color: #834d0f;
 font-weight: bold;
 font-style: normal;
 font-size: 40px;
 border: #834d0f;
}
.jeanpictures{
    display: flex;
    color: #834d0f;
}
img{
    width: 300px;
    height: 500px;
    padding: 20px;
    margin: 10px;
    font-weight: bold;
}
footer{
    background-color: #834d0f;
    font-weight: bold;
}